PORT=8006
DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"
JSON_WEB_TOKEN_SECRET_KEY="your_secret_key"
EMAIL_USER="example@gmail.com"
EMAIL_PASS="your_app_password"
PAYSTACK_SECRET_KEY="sk_test_..."
CLOUDINARY_CLOUD_NAME="..."
CLOUDINARY_API_KEY="..."
CLOUDINARY_API_SECRET="..."
SUPER_ADMIN_EMAIL="admin@example.com"